.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    flex: 1;
    background-color: gray;
    z-index: 1;
}

.burgerBtn {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
    top: 5px;
    right: 5px;
    width: 40px;
    height: 40px;
    background-color: white;
    z-index: 2;
    border: none;

    &:hover {
        cursor: pointer;
    }

    span {
        position: absolute;
        top: 50%;
        display: flex;
        width: 35px;
        height: 3px;
        background-color: black;
        transition: all 0.5s ease-out;
    }
}

.burgerOpen {
    span {
        &:nth-child(1) {
            transform: rotate(45deg);
            transform-origin: center center;
        }
        &:nth-child(2) {
            opacity: 0;
        }
        &:nth-child(3) {
            transform: rotate(-45deg);
            transform-origin: center center;
        }
    }
}
