@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap" rel="stylesheet');

.bigGridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

/* Using Grid - ширину в 300px лучше удалить так как теперь грид не привязан к конкретной ширине и может динамически менять свои размеры в зависимости от размера екрана */
/* Также нам не нужны display, vertical-align и margin так как уже Grid задает эти параметры */
/* .videoContainer {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  margin: 5px;
} */

/* Using Grid - вместо ширины в 300px лучше использовать 100%. Так картинка у нас не будет привязана к конкретной ширине и сможет динамически менять свои размеры в зависимости от размера екрана */
.thumbnail {
  width: 100%; 
  height: auto;
  margin-bottom: 10px;
}

.gridStyle {
  display: grid;
  grid-template-columns: 50px 1fr; /* Grid лексика: 1fr */
}

/* После использования Grid в inline-block и ручном задании ширины тегов отпала надобность */
/* .videoContainerInside {
  display: inline-block;
  width: 250px;
} */

/* .profileIconConteiner {
  display: inline-block;
  width: 50px;
  vertical-align: top;
} */

.profileIcon {
  width: 40px;
  height: auto;
  border-radius: 50%;
}

.videoTitle {
  font-family: 'Roboto';
  font-weight: 700;
  line-height: 22px;
  margin-top: 0;
  margin-bottom: 12px;
}

.videoAuthor, .videoStats {
  font-size: 14px;
  color: rgb(96, 96, 96);
  margin-top: 0;
  margin-bottom: 0;
}

.videoAuthor {
  margin-bottom: 5px;
}
