/* ------- CSS Position - Fixed, Absolute, Realative ------- */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap" rel="stylesheet');

/* Создаем Realative контейнер, просто чтобы отпозиционировать дочерний Absolute */
.thumbnailContainer {
  position: relative;
  z-index: 0; /* Помещаем слой под слой header1 */
}
/* Описываем то как дочерний Absolute будет располагаться внутри контейнера Realative */
.thumbnailTimeStamp {
  position: absolute;
  bottom: 20px;
  right: 10px;
  background-color: black;
  color: white;
  padding-inline: 7px;
  padding-block: 5px;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  border-radius: 2px;
}
/* Не забываем что для Absolute 'z-index' будет выше чем для Fixed, так как елементы Absolute располагаються ниже елементов Fixed */
/* Из-за чего возникает еффект что наша Absolute картинка идет выше хедера, а все остальные дефолтные (Staic) елементы видео идут ниже */
/* Чтобы все выровнять - воспользуемся параметром 'z-index' */

/* Создаем Realative контейнер, просто чтобы отпозиционировать дочерний Absolute */
.notificationsIconConteiner {
  position: relative;
  z-index: 1;
}
/* Описываем то как дочерний Absolute будет располагаться внутри контейнера Realative */
.notificationsCount {
  position: absolute;
  top: 2px;
  right: -5px; /* Если нулевые координаты нас не устраивают - мы можем выйти за их пределы при помощи минусовых значений */
  background-color: red;
  color: white;
  /* width: 20px; */ /* Чтобы сделать значек круглым мы должны сперва задать ему габараиты */
  /* height: 20px; */ /* Габараиты мы можем задать при помощи width и height */
  padding-inline: 8px; /* Однако более предпочтительный вариант это padding - так как он автоматически центрует елемент */
  padding-block: 4px;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 11px;
  border-radius: 50%;
}

/* Header */
/* При использовании 'position: fixed' чтобы фиксированный елемент не залазил на другие елементы мы делаем отступ для вышестоящего елемента на столько, в зависимости сколько мы сделали отступ для самогот fixed (e.g. top: 60px;) */
/* То есть освобождаем сверху место под Header */
.pTag {
  padding-bottom: 80px; /* Можем использовать либо padding, либо margin */
}
/* Sidebar */
/* При использовании 'position: fixed' чтобы фиксированный елемент не залазил на другие елементы мы делаем отступ для вышестоящего елемента на столько, в зависимости сколько мы сделали отступ для самогот fixed (e.g. top: 60px;) */
/* То есть освобождаем место под боковой Sidebar */
.mainTag {
  padding-left: 80px;  /* Можем использовать либо padding, либо margin */
}

.sidebar1 {
  position: fixed;
  top: 115px;
  bottom: 0;
  left: 0; 
  right: 70px; 
  width: 70px;
  background-color: grey;
}

.sidebarLogo1 {
  
}

.header1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 

  position: fixed;
  top: 60px;
  left: 0; /* Растягиваем елемент на всю ширину */
  right: 0; /* Растягиваем елемент на всю ширину */
  height: 55px; /* Удобный способ задать статическую ширину, в отличии от динамического подхода - противоположных значений top-bottom*/
  background-color: white; /* Не забываем указывать background-color, ведь когда наш елемент выходит из document flow он становиться прозрачным */

  z-index: 1; /* Помещаем слой под слой thumbnailContainer */

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(240, 240, 240);
}

.headerLeft1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerCenter1 {
  display: flex;
  align-items: center;
  flex: 1;
  max-width: 500px;
  margin-left: 70px;
  margin-right: 35px;
}

.headerRight1 {
  display: flex;
  flex-shrink: 0; 
  align-items: center;
  justify-content: space-between;
  width: 180px; 
  margin-right: 20px;
}

.hamburgerMenu {
  width: auto;
  height: 30px;
  margin-inline: 20px;
}

.youtubeLogo {
  width: auto;
  height: 30px;
}

.search {
  width: auto;
  height: 25px;
  margin-top: 4px; 
}

.searchButton {
  width: 65px;
  height: 40px;
  background-color: rgb(245, 245, 245);
  border-width: 1px;
  border-color: rgb(195, 195, 195);;
  border-style: solid;
  margin-left: -1px; 
}

.searchBar {
  flex: 1;
  width: 0; 
  height: 36px;
  padding-left: 10px;
  font-size: 16px; 
  border-width: 1px;
  border-style: solid;
  border-color: rgb(195, 195, 195);
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.1); 
}

.searchBar::placeholder {
  font-family: 'Roboto';
  font-size: 16px; 
}

.voiceSearchIcon {
  width: auto;
  height: 24px;
  margin-top: 4px; 
}

.voiceSearchIconButton {
  width: 40px;
  height: 40px;
  margin-left: 8px;
  border-radius: 50%;
  border: none; 
  background-color: rgb(245, 245, 245);
}

.uploadIcon {
  width: auto;
  height: 30px;
}

.youtubeAppsIcon {
  width: auto;
  height: 30px;
}

.notificationsIcon {
  width: auto;
  height: 30px;
  margin-top: 5px;
}

.userPictureIcon {
  width: auto;
  height: 37px;
  border-radius: 50%;
}

/* -------------- Прошлые стили -------------- */

.bigGridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

.thumbnail {
  width: 100%; 
  height: auto;
  margin-bottom: 10px;
}

.gridStyle {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.profileIcon {
  width: 40px;
  height: auto;
  border-radius: 50%;
}

.videoTitle {
  font-family: 'Roboto';
  font-weight: 700;
  line-height: 22px;
  margin-top: 0;
  margin-bottom: 12px;
}

.videoAuthor, .videoStats {
  font-size: 14px;
  color: rgb(96, 96, 96);
  margin-top: 0;
  margin-bottom: 0;
}

.videoAuthor {
  margin-bottom: 5px;
}
